<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" >
    <app-auth-view></app-auth-view>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-navigation-toolbar">
      <button mat-raised-button (click)="sidenav.toggle()">Current Token</button>
      <button mat-raised-button routerLink="/results">Results</button>
      <button mat-raised-button routerLink="/vote">Vote</button>
      <button mat-raised-button routerLink="/admin">Admin</button>

      <!-- This fills the remaining space of the current row -->
      <span class="app-fill-remaining-space"></span>
      <h3>Toy Demo</h3>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>


